/* the styles for the navigation list */
#nav_list ul {
	list-style: none;
	margin-left: 1.25em;
	margin-bottom: 1.5em;
}
#nav_list li {
	width: 1px;
	margin-bottom: .5em;
	border: 1px solid blue;
}
#nav_list li a {
	display: block;
	font-weight: bold;
	color: blue;
	text-decoration: none;
	padding: .5em 0 5em 1.5em;
}
#nav_list a.current { color: red; }
