div.static {
    position: static;
	width: auto;
    border: 1px solid gray;	
}


@media screen and (max-width: 768px) {

div.container {
     width: auto;
     border: 2px solid gray;
} 

#divMenu, ul, li, li li {
    margin: 0;
    padding: 0; }

#divMenu {
    background-color:#FF9933;
    height:2px;
    width: auto;
    float:right; }

#divMenu ul {
    line-height: 25px; }

#divMenu li {
    list-style: none;
    position: static;
    background:#ebb659; }

#divMenu li li {
   list-style: none;
   position: relative;
   color:#33FF66;
   left: 145px;
   top: -27px; }

#divMenu ul li{
width: auto;
height: auto;
display: block;
text-decoration: none;
text-align: center;
font-family: Verdana;
font-size:14px;
color:#000000;
border:1px solid #eee;
box-shadow: inset 7px 0 10px rgba(216,89,39, 0.5), inset 0 0 15px rgba(216,89,39, 0.6), inset 0 0 20px rgba(216,89,39, 0.8); }

.nav {
     float: left;
     width: 137px;
     margin: 0;
     padding: 1em;
}
.nav ul {
     nav-style-type: none;
     padding: 0;
} 

	div.static {
    position: static;
	width: 140px;
    border: 1px solid gray;
	}
	
	div.mobile_h1 h1 {
		
		font-size: auto;
		text-align: center;
	
	}
	
	div.mobile_h2 h2 {
	
		font-size: auto;
		text-align: center;
	
	}
	
	/* div.mobile_h3 h3 {
	
		font-size: 80%;
		text-align: center;
	
	}
	
	div.mobile_h4 h4 {
	
		font-size: 75%;
		text-align: center;
	
	} */
	
	
	div.mobile-colapse {
     width: auto;
	 float: none;
     margin-right: 0;
	 
	  -moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	} 
	
	
	/* div.article {
	 width: 100%;
	`float: none;
     margin-right: 15px;
	 
	 -moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	
	} */
	
	/* div.thumb a {
	float: left;
	width: 100%;
	padding-right: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	} */
	
	div.mobile_par p {
		
		font-size: 18px;
		text-align: left;
		font-family: Verdana;
	}
	
	img {
	width: 200px;
	height: auto;
	margin: 0 0 10px 0;
}

.imglogo {

	width: 63px;
	height: auto;
	margin: 0 0 10px 0;
	
}


}

@media screen and (max-width: 425px) {
div.container {
     width: auto;
     border: 2px solid gray;
} 

#divMenu, ul, li, li li {
    margin: 0;
    padding: 0; }

#divMenu {
    background-color:#FF9933;
    height:5px;
    width:auto;
    float:right; }

#divMenu ul {
    line-height: 25px; }

#divMenu li {
    list-style: none;
    position: relative;
    background:#ebb659; }

#divMenu li li {
   list-style: none;
   position: relative;
   color:#33FF66;
   left: 120px;
   top: -27px; }

#divMenu ul li{
width: auto;
height: auto;
display: block;
text-decoration: none;
text-align: center;
font-family: Verdana;
font-size:10px;
color:#000000;
border:1px solid #eee;
box-shadow: inset 7px 0 10px rgba(216,89,39, 0.5), inset 0 0 15px rgba(216,89,39, 0.6), inset 0 0 20px rgba(216,89,39, 0.8); }
.nav {
     float: left;
     width: 130px;
     margin: 0;
     padding: 1em;
}
.nav ul {
     nav-style-type: none;
     padding: 0;
} 

div.static {
    position: static;
	width: 120px;
    border: 0px solid gray;
}
	div.mobile_h1 h1 {
		
		font-size: 25px;
		text-align: center;
	
	}
	
	div.mobile_h2 h2 {
	
		font-size: 20px;
		text-align: center;
	
	}
	
	/* div.mobile_h3 h3 {
	
		font-size: 80%;
		text-align: center;
	
	}
	
	div.mobile_h4 h4 {
	
		font-size: 75%;
		text-align: center;
	
	} */
	
	
	div.mobile-colapse {
     width: auto;
	 float: none;
     margin-right: 0;
	 
	 -moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	} 
	
	/* div.article {
	 width: 100%;
	`float: none;
     margin-right: 80px;
	 
	 -moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	
	} */
	/* 
	div.thumb a {
	float: left;
	width: 100%;
	padding-right: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	} */
	
	/*.hide-mobile {
	 display: none;
	}*/
    div.mobile_par p {
		
		font-size: 18px;
		text-align: left;
		font-family: Verdana;
	}
	
	img {
	width: 150px;
	height: auto;
	margin: 0 0 10px 0;
	}
}

@media screen and (max-width:320px) {
div.container {
     width: auto;
     border: 2px solid gray;
} 


#divMenu, ul, li, li li {
    margin: 0;
    padding: 0; }

#divMenu {
    background-color:#FF9933;
    height:px;
    width:auto;
    float:right; }

#divMenu ul {
    line-height: 25px; }

#divMenu li {
    list-style: none;
    position: relative;
    background:#ebb659; }

#divMenu li li {
   list-style: none;
   position: relative;
   color:#33FF66;
   left: 135px;
   top: -27px; }

#divMenu ul li{
width: auto;
height: auto;
display: block;
text-decoration: none;
text-align: center;
font-family: Verdana;
font-size:12px;
color:#000000;
border:1px solid #eee;
box-shadow: inset 7px 0 10px rgba(216,89,39, 0.5), inset 0 0 15px rgba(216,89,39, 0.6), inset 0 0 20px rgba(216,89,39, 0.8); }

.nav {
     float: left;
     width: 135px;
     margin: 0;
     padding: 1em;
}
.nav ul {
     nav-style-type: none;
     padding: 0;
} 



	div.static {
    position: static;
	width: 110px;
    border: 0px solid gray;
}
	
	div.mobile_h1 h1 {
		
		font-size: 18px;
		text-align: center;
	
	}
	
	div.mobile_h2 h2 {
	
		font-size: 16px;
		text-align: center;
	
	}
	
	/* div.mobile_h3 h3 {
	
		font-size: 75%;
		text-align: center;
	
	}
	
	div.mobile_h4 h4 {
	
		font-size: 70%;
		text-align: center;
	
	} */
	
	div.mobile-colapse {
     width: auto;
	 float: none;
     margin-right: 0;
	 
	 -moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	} 
	
	/* div.article {
	 width: 100%;
	`float: none;
     margin-right: 15px;
	 
	 -moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	
	} */
	
	/* div.thumb a {
	float: left;
	width: 100%;
	padding-right: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	} */
	
	/* .hide-mobile {
	 display: none;
	} */
	
	div.mobile_par p {
		
		font-size: 14px;
		text-align: left;
		font-family: Verdana;
	}
	
	img {
	width: 140px;
	height: auto;
	margin: 0 0 10px 0;
	}
}
