div.static {
    position: static;
	width: 170px;
    border: 1px solid gray;	
}

@media screen and (max-width: 2560px) {

div.container {
     width: auto;
     border: 2px solid gray;
} 

#divMenu, ul, li, li li {
    margin: 0;
    padding: 0; }

#divMenu {
    background-color:#FF9933;
    height:auto;
    width:auto;
    float:right; }

#divMenu ul {
    line-height: auto; }

#divMenu li {
    list-style: none;
    position: static;
    background:#ebb659; }

#divMenu li li {
   list-style: none;
   position: relative;
   color:#33FF66;
   left: 150px;
   top: -27px; }

#divMenu ul li{
width: 150px;
height: auto;
display: block;
text-decoration: none;
text-align: center;
font-family: Verdana;
font-size:12px;
color:#000000;
border:1px solid #eee;
box-shadow: inset 7px 0 10px rgba(216,89,39, 0.5), inset 0 0 15px rgba(216,89,39, 0.6), inset 0 0 20px rgba(216,89,39, 0.8); }

.nav {
     float: left;
     width: auto;
     margin: 0;
     padding: 1em;
}
.nav ul {
     nav-style-type: none;
     padding: 0;
} 

	div.static {
    position: static;
	width: 150px;
    border: 1px solid gray;
	}
	
	
	div.mobile_h1 h1 {
		
		font-size: 100%;
		text-align: center;
		font-weight: bold;
		font-family: Courier;
		color: blue;
	}
	
	div.mobile_h2 h2 {
	
		font-size: 95%;
		text-align: center;
		font-family: Courier;
		color: SlateBlue;
		
	
	}
	
	/* div.mobile_h3 h3 {
	
		font-size: auto;
		text-align: center;
	
	} */
	
	/* div.mobile_h4 h4 {
	
		font-size: auto;
		text-align: center;
		color: orange;
	
	} */
	
	
	div.mobile_par p {
		
		font-size: 85%;
		text-align: center;
		font-family: Bookman;
		font-weight: bold;
		color: SlateBlue;
	}

	/* .mobile-h1-color {
	
	   color: SlateBlue;
	}
	
	
	.header-footer-color {
	 background-color: DarkSlateGray;
	}
	
	.header-footer-color-text {
		color: white;
	} */
	
	.mobile-colapse {
     width: auto;
	 float: none;
     margin-right: 0;
	 
	  -moz-column-count: 3;
	-webkit-column-count: 3;
	column-count: 3;
	} 
	
	/* div.article {
	 width: 100%;
	`float: none;
     margin-right: 15px;
	 
	 -moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	
	} */
	
	
	
	
	/* div.thumb a {
	float: left;
	width: 100%;
	padding-right: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	} */
	
	
	img {
	width: 56em;
	height: auto;
	margin: 0 0 10px 0;
}

@media screen and (max-width: 1280px) {

div.container {
     width: auto;
     border: 2px solid gray;
} 

#divMenu, ul, li, li li {
    margin: 0;
    padding: 0; }

#divMenu {
    background-color:#FF9933;
    height:auto;
    width:auto;
    float:right; }

#divMenu ul {
    line-height: auto; }

#divMenu li {
    list-style: none;
    position: static;
    background:#ebb659; }

#divMenu li li {
   list-style: none;
   position: relative;
   color:#33FF66;
   left: 150px;
   top: -27px; }

#divMenu ul li{
width: auto;
height: auto;
display: block;
text-decoration: none;
text-align: center;
font-family: Verdana;
font-size:12px;
color:#000000;
border:1px solid #eee;
box-shadow: inset 7px 0 10px rgba(216,89,39, 0.5), inset 0 0 15px rgba(216,89,39, 0.6), inset 0 0 20px rgba(216,89,39, 0.8); }

.nav {
     float: left;
     width: auto;
     margin: 0;
     padding: 1em;
}
.nav ul {
     nav-style-type: none;
     padding: 0;
} 

	div.static {
    position: static;
	width: auto;
    border: 1px solid gray;
	}
	
	
	div.mobile_h1 h1 {
		
		font-size: 100%;
		text-align: center;
		font-weight: bold;
		font-family: Courier;
		color: blue;
	}
	
	div.mobile_h2 h2 {
	
		font-size: 95%;
		text-align: center;
		font-family: Courier;
		color: SlateBlue;
		
	
	}
	
	/* div.mobile_h3 h3 {
	
		font-size: auto;
		text-align: center;
	
	} */
	
	/* div.mobile_h4 h4 {
	
		font-size: auto;
		text-align: center;
		color: orange
	
	} */
	
	div.mobile_par p {
		
		font-size: 85%;
		text-align: center;
		font-family: Bookman;
		font-weight: bold;
		color: SlateBlue;
	}
	
	/* .mobile-h1-color {
	
	   color: SlateBlue;
	}
	
	.header-footer-color {
	 background-color: DarkSlateGray;
	}
	
	.header-footer-color-text {
		color: white;
	} */
	
	
	
	.mobile-colapse {
     width: auto;
	 float: none;
     margin-right: 0;
	 
	  -moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	} 
	
	
	/* div.article {
	 width: 100%;
	`float: none;
     margin-right: 15px;
	 
	 -moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	
	} */
	
	/* div.thumb a {
	float: left;
	width: 100%;
	padding-right: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	} */
	
	
	
	img {
	width: 35em;
	height: auto;
	margin: 0 0 10px 0;
	padding-left: 25px;
}

@media screen and (max-width: 1024px) {

div.container {
     width: auto;
     border: 2px solid gray;
} 

#divMenu, ul, li, li li {
    margin: 0;
    padding: 0; }

#divMenu {
    background-color:#FF9933;
    height: auto;
    width: auto;
    float:right; }

#divMenu ul {
    line-height: auto; }

#divMenu li {
    list-style: none;
    position: static;
    background:#ebb659; }

#divMenu li li {
   list-style: none;
   position: relative;
   color:#33FF66;
   left: 150px;
   top: -27px; }

#divMenu ul li{
width: auto;
height: auto;
display: block;
text-decoration: none;
text-align: center;
font-family: Verdana;
font-size:12px;
color:#000000;
border:1px solid #eee;
box-shadow: inset 7px 0 10px rgba(216,89,39, 0.5), inset 0 0 15px rgba(216,89,39, 0.6), inset 0 0 20px rgba(216,89,39, 0.8); }

.nav {
     float: left;
     width: auto;
     margin: 0;
     padding: 1em;
}
.nav ul {
     nav-style-type: none;
     padding: 0;
} 

	div.static {
    position: static;
	width: auto;
    border: 1px solid gray;
	}
	
	div.mobile_h1 h1 {
		
		font-size: 100%;
		text-align: center;
		font-weight: bold;
		font-family: Courier;
		color: blue;
	}
	
	div.mobile_h2 h2 {
	
		font-size: 95%;
		text-align: center;
		font-family: Courier;
		color: SlateBlue;
		
	
	}
	
	/* div.mobile_h3 h3 {
	
		font-size: auto;
		text-align: center;
	
	} */
	
	/* div.mobile_h4 h4 {
	
		font-size: auto;
		text-align: center;
		color: orange;
	
	} */
	
	/* .mobile-h1-color {
	
	   color: SlateBlue;
	}
	
	.header-footer-color {
	 background-color: DarkSlateGray;
	}
	
	.header-footer-color-text {
		color: white;
	} */
	
	
	div.mobile_par p {
		
		font-size: 85%;
		text-align: center;
		font-family: Bookman;
		font-weight: bold;
		color: SlateBlue;
	}
	
	
	.mobile-colapse {
     width: auto;
	 float: none;
     margin-right: 0;
	 
	 -moz-column-count: 2;
	-webkit-column-count: 2;
	column-count: 2;
	} 
	
	
	/* div.article {
	 width: 100%;
	`float: none;
     margin-right: 15px;
	 
	 -moz-column-count: 1;
	-webkit-column-count: 1;
	column-count: 1;
	
	} */
	
	/* div.thumb a {
	float: left;
	width: 100%;
	padding-right: 20px;
	margin-bottom: 20px;
	box-sizing: border-box;
	} */
	
	
	img {
	width: 22em;
	height: auto;
	margin: 0 0 10px 0;
	}
	
}
