
@media(max-width: 500px){
body {
	background-color: aliceblue;
	background-position: center;
}

h2 {
	font-size: 15px;
}

header {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	font-size: 10px;
	height: 60px;
	background-color: #668284;
	margin: 0px;
 }

 .ops {
	margin: 2px ;
 }

 .languages {
	 margin: 2px;
 }

.databases {
	margin: 2px;
}
footer {
	position: relative;
	height: 50px;
	background-color: #668284;
	clear: both;
	font-family: Verdana, sans-serif;
	font-size: 14px;
	text-align: center;
	color: ghostwhite;
 }

footer p {
	position: relative;
	padding-top: 15px;
 }
}