html, body {
  font-family: Arial, Helvetica, san-serif;
}

/* define a fixed width for the entire menu */
.navigation {
  width: 600px;
}

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Make all links (main and submenu) have padding and background colors */
.mainmenu a {
  display: block;
  background-color: #CCC;
  text-decoration: none;
  padding: 4px;
  color: #000;
}

/* Add hover */
.mainmenu a:hover {
  background-color: #C5C5C5;
}

/* Inside a main menu when hovering it will show a submenu 
changing max-heigh from 0 to 300 pixels */

.mainmenu li:hover .submenu {
  display: block;
  max-height: 300px;
}

/* Overwriting background color for submenu links */

.submenu a {
  background-color: #999;
}

/* Submenu hover effect */
.submenu a:hover {
  background-color: #666;
}

/* Overflow content is hidden and submenu state becomes initial
we set max-height to 0 */
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}